/* defaults */

@font-face {
    font-family: 'A Iranian Sans';
    src: url('../fonts/iransans/AIranianSans.eot');
    src: url('../fonts/iransans/AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/AIranianSans.woff2') format('woff2'),
        url('../fonts/iransans/AIranianSans.woff') format('woff'),
        url('../fonts/iransans/AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --main-gray: #292a2d;
    --main-blue: #1e90ff;
    --main-red: #ff2321;
    --main-green: #00bd65;
    --main-yellow: #f9c700;
    --secondar-gray: #474747;
    --border-color: #90909040;
}

a {
    text-decoration: none;
}

/* section1 styles */
.section1 {
    background-image: url('../images/dark_tint.png'), url("../images/bokeh_car_lights_bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 85vh;
    width: 100%;
}

/* navabr styles */


nav {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    padding: 20px !important;
}

nav.sticky {
    padding: 40px 0;
}



/* offcanvas */
.offcanvas-title {
    margin: 0 auto;
    display: block;
}

.offcanvas {
    background-color: var(--main-gray);
}

.navbar-nav li a:not(.btn1) {
    color: white !important;
}

.offcanvas-open {
    border: none;
}

.navbar-toggler {
    outline: none;
}

.logo {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}

.fa-bars,
.fa-xmark {
    color: #fff;
}


/* media queries */


@media (max-width : 992px) {
    .offcanvas {
        width: 250px !important;
    }

    .offcanvas-start-lg {
        top: 0;
        left: 0;
        border-right: 1px solid #00000033;
        transform: translateX(-100%);
    }

    .navbar-brand {
        justify-content: center;
        align-items: center;
    }

    .navbar-nav {
        margin: 0 auto;
    }


}

@media (min-width : 992px) {
    .offcanvas {
        visibility: visible;
        position: relative;
        background: none;
        border: none;
        justify-content: end;

    }

    .offcanvas-open {
        display: none;
    }

    .navbar-brand {
        justify-content: center;
        align-items: center;
    }
}


.navbarItems {
    background-color: var(--main-gray);
    padding: 15px;
}




.nav-item {
    margin: 10px 20px;
}

.fa-bars.spin,
.fa-xmark.spin {
    transform: rotate(90deg);
}

.fa-bars,
.fa-xmark {
    transition: all 0.3s ease-in-out;
}

.my-btn {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
}

.btn1 {
    background-color: #fff;
    color: var(--main-gray);
}

/* intro styles */

.intro {
    margin-top: 30vh;
}

.intro h1 {
    font-size: calc(1rem + 1.5vw);
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
}

.intro p {
    color: #fff;
    font-size: calc(1rem + 0.5vw);
    line-height: 3;
}

.btn2 {
    background-color: var(--main-blue);
    color: #fff;
    width: 200px;
    margin: 0 auto;
}

/* section2 styles */
.cards {
    border: solid 1px var(--border-color);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.cards i {
    padding: 50px;
    border-radius: 50%;
    font-size: 40px;
}

.cards h2 {
    font-size: 25px;
}

.card1 i {
    background-color: var(--main-red);
}

.card2 i {
    background-color: var(--main-blue);
}

.card3 i {
    background-color: var(--main-green)
}

.section2 {
    background-color: #f5f5f5;
    border: solid 1px var(--border-color);
}

.cardsIntro {
    color: var(--secondar-gray);
}

/* section3 styles */

.placeHolderPhoto {
    border-radius: 50%;
}

.aboutSection {
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.aboutSection p {
    color: var(--secondar-gray);
    font-size: 1rem;
}


/* section4 styles */
.login p {
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login a {
    margin-bottom: 50px;
}

/* section5 styles */
.form {
    background-color: var(--main-blue);
    padding-bottom: 60px;
}

.formInfo {
    color: #fff;
}


/* buttons */
.btn3 {
    background-color: var(--main-gray);
    color: #fff;
}